table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
}

table {
    margin-left: 350px;
    margin-right: 300px;
}

th, td {
    padding: 5px;
    text-align: left;
}